body {
  margin: 0;
}


li {
  list-style: none;
}

.top-bar1 {
  height: 40px;
  padding: 0 20px 0 0;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}

.top-bar {

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;

}

.top-bar a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 0 10px;
}
.main {

  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 5fr;
}

.left-main {
  margin: 0;
  padding: 0;
  grid-area: left;
  background-color: darkgray;
}

.nav-bar {
  width: 16%;
  padding: 0;
  height: 500px;
  position: fixed;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
}
.left-nav-bar{
  margin: auto 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  
}
.left-nav-bar a{
  color: white;
  text-decoration-line: none;

}
.right-main {
  grid-area: right;
  display: flex;
  flex-direction: column;
}




.first-img {
  position: relative;
}

.first-img img{
  width: 100%;

  display: flex;
  justify-content: center;

  vertical-align: middle;


}

.first-img .first-area-contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);

  font-size: 30px;
  text-align: center;
  color: white;

}

.first-img .first-btn {
  margin: auto auto;
  font-size: 20px;
  width: 100px;
  border: solid;
  border-color: white;
  border-radius: 8px;
  padding: 10px 20px;
}




.second-area {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.second-area img {
  padding: 30px;
  object-fit: contain;
}

.second-area .second-texts {
  padding-right: 30px;
}

.second-area  .big{
  font-size: 30px;
  font-style: italic;

}
.second-area  .small{

}

.third-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
}

.third-area > img {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.third-area > .third-area-container {
  
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
  color: white;
}

.third-area-container .third-title {
  font-size: 30px;
}

.third-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.third-item {
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.third-item-name {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}
.third-item-price1{
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: bold;
}
.third-item-price2{
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.third-item img {
  object-fit: contain;
  width: 50%;
}
.third-item > div{

  color: black;
}

/**/
.fourth-area {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.fourth-area > .fourth-area-container {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
}

.fourth-title {
  font-size: 30px;
}
.fourth-items {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fourth-item {
  width: 30%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
}


.fourth-item img {
  object-fit: contain;
  width: 50%;
}
.fourth-item > div{

  color: black;
}

.fifth-area {
  width: 100%;
  height: 300px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.fifth-area .fifth-area-title {
  width: 100%;
  text-align: center;
}

.fifth-area-form .row-grid {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  color: white;

}

.row-grid {
  padding-right: 50%;
  text-align: center;
}

#btn > input {
  padding-left: 50%;
}

.fifth-area-title {
  font-size: 30px;
  color: white;
}

.submit-btn {
  position: relative;
  top: 30px;
  left: 40%;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border: solid;
  background-color: gray;
  color: white;
  font-size: 15px;
}